<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap" rel="stylesheet">

</head>
<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>Fundrise</h4>
                    <ul>
                        <li><a href="/how-it-works">How it works</a></li>
                        <li><a href="/emergency">Emergency</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About us</h4>
                    <ul>
                        <li><a href="/about-us">About us</a></li>
                        <li><a href="/help-center">Help center</a></li>
                        <li><a href="/contact-us">Contact us</a></li>
                    </ul>
                </div>
                <!-- <div class="footer-col">
                    <h4>Get help</h4>
                    <ul>
                        <li><a href="/about-us">About us</a></li>
                        <li><a href="/help-center">Help center</a></li>
                        <li><a href="/contact-us">Contact us</a></li>
                    </ul>
                </div> -->
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/kausarakther/"><i class="fab fa-linkedin"></i></a>
    
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>




