<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="navbar-logo"><a href="/fund/">zharafund</a></li>
            <li class="navbar-toggle"><i class="fas fa-bars"></i></li>
            <li class="navbar-links"><a href="/fund/">HOME</a></li>
            <li class="navbar-links"><a href="#about"></a>ABOUT</li>
        </ul>
    </nav>  
</body>
</html> -->



<div class="nav">
    <h4>ZHARAFUND</h3>

    <ul class="nav-links">
        
        <li>
            <a href="/fund/">HOME</a>
        </li>
        <li>
            <a href="#about">ABOUT</a>
        </li> 
        
        
    </ul>
</div>



