<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="new-container">
        <form action="/fund" method="POST">
        <h1>New Orizination</h1>
        Img:  <input type="text" name="img"><br>
        Name: <input type="text" name="name"/><br>
        Description: <input type="text" name="description"/><br>
        Amount: <input type="number" name="amount"/><br>
        <input type="submit" name="" value="Create">
         </form>
    </div>
</body>
</html>