<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">  
    <link rel="stylesheet" href="/css/app.css">

    <title></title>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="new-container">
        <h1>Add a New Organization</h1>
        <div>
            <form action="/fund" method="POST">
                <input type="text" name="img" placeholder="Image of the new organization"/><br>
                <input type="text" name="name" placeholder="Name of the organization"/><br>
                <input type="text" name="description" placeholder="Description of the organization"/><br>
                <input type="text" name="address" placeholder="Address of the organization"/><br>
                Amount: <input type="number" name="amount"/><br>
                <input type="submit" name="" value="Create"/>
            </form>
        </div>
    </div>

    <div class="footer">
        <%- include ('../partials/footer.ejs') %>
    </div>
</body>
</html>