.header{
    background-color: lightgreen;
    color: white;
    text-align: center;
}
body{
    margin: 0;
}
.nav{
    background-color: goldenrod;
    color: white;
    margin: 0;  
    text-align: right;      
}

.nav li{
    display: inline;
}

ul{
    list-style-type: none;

}



 li a {
    text-decoration: none;
}

.message{
    background-color: lightblue;
    color: white;
    text-align: center;
}


.join-org{
    text-align: center;
    background-color: rgb(9, 52, 66);
    color: white;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
} 
.organization-list{
    display: flex;
    flex-wrap: wrap;
}


.organization{
    width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 2px solid black;
    background-color: white;
    text-align: center;
    position: relative;
    margin-bottom: .5rem;
    margin-left: 1rem;
}


  .footer ul{
      background-color: gray;
      color: white;
      margin: 0;
      text-align: center;
      list-style-type: none;
      
  }
 ul li{
    text-decoration: none;
}
  /* .footer ul li{
      text-decoration: none;
  } */

  /* SHOW PAGE */

  .show-container{
      display: flex;
      justify-content: center;
      margin-top: 40px;
      
  }

  .show-card{
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      /* border: 1px solid black; */
      text-align: center;
      width: 40%;
      transition: 0.3s;
  }
  .show-card:hover {
      box-shadow: 0 8px 18px rgba(0,0,0,0.2);
  }


  .donate-button{
      width: 150px;
      height: 30px;
      background-color: white;
      color: green;
     

  }
 button.delete-button{
     text-align: center;
     display: inline;
     color: black;
     width: 200px;
     height: 30px;
     margin: 0;

 }

 .info-button{
     width: 100px;
     height: 30px;
     border: 2px solid green;
     color: black;
 }


 /* NEW ROUTE  */
 .new-container{
     text-align: center;

 }

 .edit-container{
     text-align: center;
 }